<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mes choix thématiques!</h2>
                <hr class="light">
                <p class="text-faded">Fan de du Moyen-Âge, de fantasy, fantastique et de SF. je suis en train de finir un roman fantastique/médiéval sur cette époque. J'ai écris deux nouvelles qui seront bientôt disponible à la vente.</p>
                <a href="#" class="btn btn-default btn-xl">Contactez-moi</a>
            </div>
        </div>
    </div>
</section>
