<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jean-Michel THUILLET, alias Jillian HT, auteur/écrivain</h1>
            <hr>
            <p>Bienvenue sur mon site de présentation de mes livres. Romans, Nouvelles, dans les domaines du Fantasy Médiéval, Fantastique ou Sf. Je vous proposerai des extraits, avec plaisir.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>
