<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mon Univers Littéraire</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-spinner wow bounceIn text-primary"></i>
                    <h3>"Des récits intemporels"</h3>
                    <p class="text-muted">Mes livres sont pensés pour captiver et vous transporter à chaque lecture.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Laissez-vous emporter</h3>
                    <p class="text-muted">Chaque histoire est prête à vous emmener dans un voyage unique, riche en émotions et en découvertes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book-open wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Un univers en constante évolution</h3>
                    <p class="text-muted">Je travaille régulièrement sur de nouveaux récits pour enrichir votre expérience de lecture.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Des livres écrits avec passion</h3>
                    <p class="text-muted">Chaque mot, chaque page, est le fruit d'une passion pour l'écriture et l'imaginaire.</p>
                </div>
            </div>
        </div>
    </div>
</section>
